# üë©‚Äçüíª Activit√© 1 : analyse exploratoire des donn√©es (EDA) et pr√©-traitement des donn√©es

<img src="https://cdn.pixabay.com/photo/2017/07/22/11/46/adventure-2528477_1280.jpg" alt="rubik" width="400"/>

#### [Pierre-Loic BAYART](https://www.linkedin.com/in/pierreloicbayart/) - Formation d√©veloppeur d'applications sp√©cialisation data analyst - Webforce3 - Grenoble Ecole de Management

### Code pour indiquer l'importance des notions trait√©es dans cette activit√©

- #### ü•á : connaissance fondamentale pour l'analyse de donn√©es
- #### ü•à : connaissance importante pour l'analyse de donn√©es
- #### ü•â : connaissance moins importante pour l'analyse de donn√©es
> Si rien n'est indiqu√©, il s'agit de connaissances fondamentales pour l'analyse de donn√©es

## üîç Recherche d'informations

En recherchant sur le web, trouver les r√©ponses aux questions suivantes :
### - Quel est l'int√©r√™t d'√©crire des fonctions Python pour traiter des donn√©es ?
___
Cela permet d'**automatiser** et de **tester** le pr√©-traitement des donn√©es en amont de l'entrainement d'un mod√®le de machine learning.
___
### - Pourquoi est-il important de cr√©er des fonctions Python courtes ?
___
Les fonctions courtes sont plus **facilement testables**.
___
### - Qu'est-ce que l'ing√©nierie des caract√©ristiques (feature engineering) ?
___
L'ing√©nierie des caract√©ristiques consiste √† utiliser des **connaissances m√©tier** et les donn√©es qui en d√©coulent pour extraire des propri√©t√©s pour les **ajouter au jeu de donn√©es**.
___
### - Comment faire de l'ing√©nierie des caract√©ristiques avec des donn√©es temporelles ?
___
On peut indiquer √† quel jour de la semaine correspond la date, s'il s'agit d'un jour f√©ri√©...
___

## ‚úèÔ∏è Activit√©s

Dans cette activit√©, nous allons travailler avec le fichier des transactions immobili√®res par d√©partement que l'on peut r√©cup√©rer √† cette url : https://files.data.gouv.fr/geo-dvf/latest/csv/2022/departements/

- Compl√©ter la fonction Python suivante **`get_dvf_data()`** pour qu'elle retourne le **dataframe** des donn√©es immobili√®res de l'**ann√©e** et du **d√©partement** choisis en param√®tres. Cr√©er un dataframe de donn√©es gr√¢ce √† cette fonction

In [1]:
from datetime import date
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
def get_dvf_data(year: str = "2022", department: str = "38") -> pd.DataFrame:
    """
    Renvoie un dataframe des donn√©es des transactions immobili√®res d'une ann√©e pour un d√©partement
        Parameters:
                year (str): ann√©es des donn√©es
                department (str): num√©ro de d√©partement des donn√©es sur 2 chiffres (01, 02...)
        Returns:
                df (pandas.DataFrame): dataframe des donn√©es immobili√®res
    """
    url = f"https://files.data.gouv.fr/geo-dvf/latest/csv/{year}/departements/{department}.csv.gz"
    df = pd.read_csv(url, compression="gzip")
    return df

In [3]:
df = get_dvf_data(year="2022", department="38")
df

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2022-179716,2022-01-07,1,Vente,229000.0,20.0,NaN,RTE D URIAGE,0200,38320.0,...,Appartement,64.0,2.0,NaN,NaN,NaN,NaN,NaN,5.791164,45.139141
1,2022-179716,2022-01-07,1,Vente,229000.0,20.0,NaN,RTE D URIAGE,0200,38320.0,...,D√©pendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,5.791164,45.139141
2,2022-179717,2022-01-07,1,Vente,185000.0,5.0,NaN,PL SAINT-BRUNO,6140,38000.0,...,Local industriel. commercial ou assimil√©,260.0,0.0,NaN,NaN,NaN,NaN,NaN,5.714881,45.187343
3,2022-179718,2022-01-04,1,Vente,151500.0,20.0,NaN,RUE DOCTEUR HERMITE,2161,38000.0,...,D√©pendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,5.711105,45.181912
4,2022-179718,2022-01-04,1,Vente,151500.0,20.0,NaN,RUE DOCTEUR HERMITE,2161,38000.0,...,Appartement,54.0,2.0,NaN,NaN,NaN,NaN,NaN,5.711105,45.181912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5888,2022-182181,2022-02-07,6,Echange,NaN,NaN,NaN,TETE FIERE,B113,38840.0,...,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,380.0,5.175753,45.097939
5889,2022-182181,2022-02-07,6,Echange,NaN,NaN,NaN,TETE FIERE,B113,38840.0,...,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,1664.0,5.175532,45.097856
5890,2022-182182,2022-02-07,7,Echange,870.5,NaN,NaN,BOIS ROIBON,B015,38840.0,...,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,2390.0,5.174435,45.091118
5891,2022-182183,2022-01-25,1,Adjudication,138000.0,NaN,NaN,LA TERRASSE,B077,38210.0,...,NaN,NaN,NaN,S,sols,NaN,NaN,49.0,5.537115,45.274085
5892,2022-182183,2022-01-25,1,Adjudication,138000.0,646.0,NaN,RUE DES FONTAINES,0035,38210.0,...,Maison,100.0,4.0,S,sols,NaN,NaN,294.0,5.536992,45.274158

- Compl√©ter la fonction Python suivante **`select_columns()`** pour qu'elle s√©lectionne **certaines colonnes** du dataframe suivant un **tuple fourni en param√®tre**

In [4]:
def select_columns(house_dataframe: pd.DataFrame, selected_columns: tuple[str]) -> pd.DataFrame:
    """
    Renvoie un dataframe des donn√©es avec uniquement les colonnes s√©lectionn√©es
        Parameters:
                house_dataframe (pandas.DataFrame): dataframe des donn√©es immobili√®res
                selected_columns (tuple[str]): tuple contenant les noms des colonnes du dataframe √† s√©lectionner
        Returns:
                df (pandas.DataFrame): dataframe des donn√©es immobili√®res trait√©es
    """
    df = house_dataframe.copy()
    return df.loc[:,selected_columns]

In [5]:
selected_columns = (
    "date_mutation", "valeur_fonciere", "surface_reelle_bati",
    "nombre_pieces_principales", "longitude", "latitude",
    "type_local", "nature_mutation",
)
df = select_columns(df, selected_columns)
df

,date_mutation,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,longitude,latitude,type_local,nature_mutation
0,2022-01-07,229000.0,64.0,2.0,5.791164,45.139141,Appartement,Vente
1,2022-01-07,229000.0,NaN,0.0,5.791164,45.139141,D√©pendance,Vente
2,2022-01-07,185000.0,260.0,0.0,5.714881,45.187343,Local industriel. commercial ou assimil√©,Vente
3,2022-01-04,151500.0,NaN,0.0,5.711105,45.181912,D√©pendance,Vente
4,2022-01-04,151500.0,54.0,2.0,5.711105,45.181912,Appartement,Vente
...,...,...,...,...,...,...,...,...
5888,2022-02-07,NaN,NaN,NaN,5.175753,45.097939,NaN,Echange
5889,2022-02-07,NaN,NaN,NaN,5.175532,45.097856,NaN,Echange
5890,2022-02-07,870.5,NaN,NaN,5.174435,45.091118,NaN,Echange
5891,2022-01-25,138000.0,NaN,NaN,5.537115,45.274085,NaN,Adjudication
5892,2022-01-25,138000.0,100.0,4.0,5.536992,45.274158,Maison,Adjudication

- Compl√©ter la fonction Python suivante **`select_type()`** pour qu'elle s√©lectionne **uniquement** les **appartements** et les **maisons**. V√©rifier son bon fonctionnement

In [6]:
def select_type(house_dataframe: pd.DataFrame, house_types: tuple[str]) -> pd.DataFrame:
    """
    Renvoie un dataframe des donn√©es avec uniquement les donn√©es des types d'habitations s√©lectionn√©es
        Parameters:
                house_dataframe (pandas.DataFrame): dataframe des donn√©es immobili√®res
                house_types (tuple[str]): tuple contenant les noms des types d'habitations √† s√©lectionner
        Returns:
                df (pandas.DataFrame): dataframe des donn√©es immobili√®res trait√©es
    """
    df = house_dataframe.copy()
    return df[df["type_local"].isin(house_types)]

In [7]:
df = select_type(df, ("Maison", "Appartement"))
df

,date_mutation,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,longitude,latitude,type_local,nature_mutation
0,2022-01-07,229000.0,64.0,2.0,5.791164,45.139141,Appartement,Vente
4,2022-01-04,151500.0,54.0,2.0,5.711105,45.181912,Appartement,Vente
6,2022-01-03,62000.0,66.0,3.0,5.702079,45.144146,Appartement,Vente
7,2022-01-07,110000.0,65.0,4.0,5.766423,45.183840,Appartement,Vente
9,2022-01-10,157000.0,100.0,5.0,5.708358,45.173086,Appartement,Vente
...,...,...,...,...,...,...,...,...
5817,2022-06-29,416901.0,48.0,3.0,5.615595,45.550246,Maison,Vente
5818,2022-06-29,416901.0,150.0,4.0,5.615595,45.550246,Maison,Vente
5819,2022-06-29,416901.0,48.0,3.0,5.615595,45.550246,Maison,Vente
5823,2022-06-27,360000.0,102.0,4.0,5.190719,45.752555,Maison,Vente
5892,2022-01-25,138000.0,100.0,4.0,5.536992,45.274158,Maison,Adjudication

In [8]:
df["type_local"].value_counts()

Appartement    1354
Maison          565
Name: type_local, dtype: int64

- Compl√©ter la fonction Python suivante **`select_sales()`** pour qu'elle s√©lectionne **uniquement** les **ventes**. V√©rifier son bon fonctionnement

In [9]:
def select_sales(house_dataframe: pd.DataFrame) -> pd.DataFrame:
    """
    Renvoie un dataframe des donn√©es avec uniquement les donn√©es des ventes
        Parameters:
                house_dataframe (pandas.DataFrame): dataframe des donn√©es immobili√®res
        Returns:
                df (pandas.DataFrame): dataframe des donn√©es immobili√®res trait√©es
    """
    df = house_dataframe.copy()
    return df[df["nature_mutation"]=="Vente"]

In [10]:
df = select_sales(df)
df

,date_mutation,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,longitude,latitude,type_local,nature_mutation
0,2022-01-07,229000.0,64.0,2.0,5.791164,45.139141,Appartement,Vente
4,2022-01-04,151500.0,54.0,2.0,5.711105,45.181912,Appartement,Vente
6,2022-01-03,62000.0,66.0,3.0,5.702079,45.144146,Appartement,Vente
7,2022-01-07,110000.0,65.0,4.0,5.766423,45.183840,Appartement,Vente
9,2022-01-10,157000.0,100.0,5.0,5.708358,45.173086,Appartement,Vente
...,...,...,...,...,...,...,...,...
5816,2022-06-29,416901.0,150.0,4.0,5.615595,45.550246,Maison,Vente
5817,2022-06-29,416901.0,48.0,3.0,5.615595,45.550246,Maison,Vente
5818,2022-06-29,416901.0,150.0,4.0,5.615595,45.550246,Maison,Vente
5819,2022-06-29,416901.0,48.0,3.0,5.615595,45.550246,Maison,Vente
5823,2022-06-27,360000.0,102.0,4.0,5.190719,45.752555,Maison,Vente

In [11]:
df["nature_mutation"].value_counts()

Vente    1897
Name: nature_mutation, dtype: int64

- Compl√©ter la fonction Python suivante **`drop_na()`** pour qu'elle supprime les lignes avec des donn√©es manquantes et affiche le nombre de lignes supprim√©es. V√©rifier son bon fonctionnement

In [12]:
def drop_na(house_dataframe: pd.DataFrame) -> pd.DataFrame:
    """
    Renvoie un dataframe des donn√©es sans donn√©es manquantes
        Parameters:
                house_dataframe (pandas.DataFrame): dataframe des donn√©es immobili√®res
        Returns:
                df (pandas.DataFrame): dataframe des donn√©es immobili√®res trait√©es
    """
    df = house_dataframe.copy()
    print(f"Nombre de lignes supprim√©es : {df.shape[0]-df.dropna().shape[0]}")
    return df.dropna()

In [13]:
df = drop_na(df)

Nombre de lignes supprim√©es : 0

- Compl√©ter la fonction Python suivante **`check_na()`** pour qu'elle v√©rifie qu'il **ne reste plus** de valeurs manquantes. Si ce n'est pas le cas, **afficher le nombre** des **valeurs manquantes** par colonne et le **graphique des valeurs manquantes**

In [14]:
def check_na(house_dataframe: pd.DataFrame) -> None:
    """
    Renvoie le nombre de donn√©es manquantes
        Parameters:
                house_dataframe (pandas.DataFrame): dataframe des donn√©es immobili√®res
        Returns:
                None
    """
    df = house_dataframe.copy()
    if df.isna().sum().sum()==0:
        print("Il n'y a pas de donn√©es manquantes dans le dataframe")
    else:
        print("Nombre de donn√©es manquantes par colonne :")
        print(df.isna().sum())
        sns.heatmap(df.isna(), cbar=False)
        plt.show()

In [15]:
check_na(df)

Il n'y a pas de donn√©es manquantes dans le dataframe

- Compl√©ter la fonction Python suivante **`split_datetime()`** pour qu'elle transforme la colonne "date_mutation" en objet "datetime" et cr√©e deux colonnes pour le **num√©ro du jour dans la semaine** de l'achat et le **nombre de jours pass√©s depuis l'achat**

> ‚ÑπÔ∏è les fonctions suivantes peuvent √™tre utiles :
> - [pandas.to_datetime](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)
> - [pandas.Series.dt.dayofweek](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.dayofweek.html)
> - [pandas.Series.dt.days](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.days.html)
> - [pandas.Timestamp.now](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timestamp.now.html)

In [16]:
def split_datetime(house_dataframe: pd.DataFrame) -> None:
    """
    Transforme la colonne "date_mutation" en objet "datetime" et cr√©e deux colonnes
    pour le num√©ro du jour dans la semaine de l'achat et le nombre de jours pass√©s depuis l'achat
        Parameters:
                house_dataframe (pandas.DataFrame): dataframe des donn√©es immobili√®res
        Returns:
                df (pandas.DataFrame): dataframe des donn√©es immobili√®res trait√©es
    """
    df = house_dataframe.copy()
    df["date_mutation"] = pd.to_datetime(df["date_mutation"])
    df["jour_semaine"] = df["date_mutation"].dt.dayofweek
    df["jours_depuis_achat"] = (pd.Timestamp.now()-df["date_mutation"]).dt.days
    return df

In [17]:
df = split_datetime(df)

In [18]:
df

,date_mutation,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,longitude,latitude,type_local,nature_mutation,jour_semaine,jours_depuis_achat
0,2022-01-07,229000.0,64.0,2.0,5.791164,45.139141,Appartement,Vente,4,339
4,2022-01-04,151500.0,54.0,2.0,5.711105,45.181912,Appartement,Vente,1,342
6,2022-01-03,62000.0,66.0,3.0,5.702079,45.144146,Appartement,Vente,0,343
7,2022-01-07,110000.0,65.0,4.0,5.766423,45.183840,Appartement,Vente,4,339
9,2022-01-10,157000.0,100.0,5.0,5.708358,45.173086,Appartement,Vente,0,336
...,...,...,...,...,...,...,...,...,...,...
5816,2022-06-29,416901.0,150.0,4.0,5.615595,45.550246,Maison,Vente,2,166
5817,2022-06-29,416901.0,48.0,3.0,5.615595,45.550246,Maison,Vente,2,166
5818,2022-06-29,416901.0,150.0,4.0,5.615595,45.550246,Maison,Vente,2,166
5819,2022-06-29,416901.0,48.0,3.0,5.615595,45.550246,Maison,Vente,2,166
5823,2022-06-27,360000.0,102.0,4.0,5.190719,45.752555,Maison,Vente,0,168

- Compl√©ter la fonction Python suivante **`drop_columns()`** pour qu'elle **supprime les colonnes non utiles** pour l'entrainement du mod√®le de r√©gression : "date_mutation" et "nature_mutation"

In [19]:
def drop_columns(house_dataframe: pd.DataFrame, columns_to_drop: list[str]) -> pd.DataFrame:
    """
    Renvoie un dataframe des donn√©es avec uniquement les colonnes s√©lectionn√©es
        Parameters:
                house_dataframe (pandas.DataFrame): dataframe des donn√©es immobili√®res
                columns_to_drop (list[str]): liste contenant les noms des colonnes du dataframe √† supprimer
        Returns:
                df (pandas.DataFrame): dataframe des donn√©es immobili√®res trait√©es
    """
    df = house_dataframe.copy()
    return df.drop(columns_to_drop, axis=1)

In [20]:
df = drop_columns(df, ["date_mutation", "nature_mutation"])
df

,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,longitude,latitude,type_local,jour_semaine,jours_depuis_achat
0,229000.0,64.0,2.0,5.791164,45.139141,Appartement,4,339
4,151500.0,54.0,2.0,5.711105,45.181912,Appartement,1,342
6,62000.0,66.0,3.0,5.702079,45.144146,Appartement,0,343
7,110000.0,65.0,4.0,5.766423,45.183840,Appartement,4,339
9,157000.0,100.0,5.0,5.708358,45.173086,Appartement,0,336
...,...,...,...,...,...,...,...,...
5816,416901.0,150.0,4.0,5.615595,45.550246,Maison,2,166
5817,416901.0,48.0,3.0,5.615595,45.550246,Maison,2,166
5818,416901.0,150.0,4.0,5.615595,45.550246,Maison,2,166
5819,416901.0,48.0,3.0,5.615595,45.550246,Maison,2,166
5823,360000.0,102.0,4.0,5.190719,45.752555,Maison,0,168

- Compl√©ter la fonction Python suivante **`to_csv()`** pour qu'elle **cr√©e un fichier CSV** √† partir du dataframe fourni avec comme nom la date de cr√©ation du fichier et les m√©ta-donn√©es "d√©partement" et "ann√©e"

In [21]:
from datetime import date

In [22]:
def to_csv(house_dataframe: pd.DataFrame, year: str, department: str) -> None:
    """
    Cr√©e un fichier CSV des donn√©es du dataframe
        Parameters:
                house_dataframe (pandas.DataFrame): dataframe des donn√©es immobili√®res
                year (str): ann√©es des donn√©es
                department (str): num√©ro de d√©partement des donn√©es sur 2 chiffres (01, 02...)
        Returns:
                None
    """
    df = house_dataframe.copy()
    name = f"DVF_{year}_{department}_{str(date.today())}.csv"
    df.to_csv(name, index=False)

In [23]:
to_csv(df, "2022", "38")

- Compl√©ter le code du **module `dvfprep.py`** en y ajoutant toutes les **fonctions cr√©√©es** dans ce notebook

## üöÄ Pour aller plus loin

- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- [Art of Feature Engineering for Data Science - Nabeel Sarwar](https://www.youtube.com/watch?v=leTyvBPhYzw)

___
*üë®‚Äçüè´ [Pierre-Loic BAYART](https://www.linkedin.com/in/pierreloicbayart/) - Formation d√©veloppeur d'applications sp√©cialisation data analyst - Webforce3 - Grenoble Ecole de Management*
___
Source images d'illustration : Image par MasterTux de Pixabay